In [6]:
import pandas as pd
pd.read_csv("../median_price_by_neighbourhood_room_type.csv").head(10)

  neighbourhood        room_type    price
0     Adachi Ku      Shared room   5015.0
1     Adachi Ku     Private room   7000.0
2     Adachi Ku  Entire home/apt  12915.0
3   Akiruno Shi      Shared room   6400.0
4   Akiruno Shi     Private room  15042.5
5   Akiruno Shi  Entire home/apt  20846.0
6  Akishima Shi  Entire home/apt   7600.5
7    Arakawa Ku      Shared room   3684.0
8    Arakawa Ku     Private room  12295.0
9    Arakawa Ku  Entire home/apt  14537.0

In [2]:
## Price Positioning by Neighbourhood & Room Type

In [3]:
pd.read_csv("../price_power_by_area_room_type.csv").sort_values("premium", ascending=False).head(10)

     neighbourhood        room_type    price   premium
41   Hinohara Mura  Entire home/apt  48400.0  2.987654
102    Setagaya Ku       Hotel room  44774.0  2.763827
68   Kunitachi Shi  Entire home/apt  27143.0  1.675494
15      Chiyoda Ku  Entire home/apt  26891.0  1.659938
22         Chuo Ku  Entire home/apt  26483.0  1.634753
73       Meguro Ku  Entire home/apt  24801.0  1.530926
76       Minato Ku  Entire home/apt  24789.0  1.530185
105     Shibuya Ku  Entire home/apt  22508.0  1.389383
95         Ome Shi  Entire home/apt  21927.0  1.353519
126       Taito Ku  Entire home/apt  21858.0  1.349259

In [5]:
## Key Insight
## Certain neighbourhoods consistently price above the market median, indicating strong pricing power rather than random noise.